# ignore pyc files
*.pyc

# ignore log files
*.log

# ignore __pychache__ directory
__pycache__/

# ignore .idea/ directory
src/spi/.idea/

# ignore Adafruit directory
src/spi/core/Adafruit_Python_DHT/
