{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Sprinkler program</h1>
    <br/>
    <div class="container">
        <h2>Set sprinkler start hour</h2>
        <p>ID: {{ scheduler.id }}</p>
        <p>Name: {{ scheduler.name }}</p>
        <p>Start time: {{scheduler.start_time }}</p>


        </div>
        <ol id="list">
            {% for sprinkler in sprinkler_list %}
                <li id="{{ sprinkler.id }}">id: {{ sprinkler.id }}, name: {{ sprinkler.name }}, duration: {{ sprinkler.duration }}, order {{ sprinkler.order }}</li>
            {% endfor %}
        </ol>

    </div>
    <br>
    <div class="container">
        <form action="{% url 'sprinkler:submit' %}" method="POST">
            {% csrf_token %}
            <input type="text" value="ceva_text"/>
            <input type="submit" value="SAVE" />
        </form>
    </div>
    <div>
        {% if status %}
            <p id="save_message">aa {{ message }}</p>
        {% endif %}
    </div>
{% endblock content %}

{% block script %}
<script src="{% static 'sprinkler/js/sprinkler_release.js' %}"></script>
{% endblock script %}